<aside class="fixed top-0 left-0 z-10 w-64 h-screen bg-blue-900 text-white p-4 pt-20 shadow-lg flex flex-col">
    <nav class="space-y-4 flex-1">
        <button
            class="w-full text-left px-4 py-3 bg-blue-600 hover:bg-blue-700 rounded-md transition duration-200 ease-in-out text-lg font-semibold"
            hx-get="{{ url_for('request_patient_records') }}"
            hx-target="#dynamic-content"
            hx-swap="innerHTML"
        >
            Request Patient Records
        </button>
        <button
            class="w-full text-left px-4 py-3 bg-green-600 hover:bg-green-700 rounded-md transition duration-200 ease-in-out text-lg font-semibold"
            hx-get="{{ url_for('register_new_patient_form') }}"
            hx-target="#dynamic-content"
            hx-swap="innerHTML"
        >
            Register New Patient
        </button>
        <!--<button
            class="w-full text-left px-4 py-3 bg-red-600 hover:bg-red-700 rounded-md transition duration-200 ease-in-out text-lg font-semibold"
            hx-get="{{ url_for('request_emergency_access_form') }}"
            hx-target="#dynamic-content"
            hx-swap="innerHTML"
        >
            Request Emergency Access
        </button> I am only commenting this out and not outright deleting it because there might be a scenario where the user needs to emergency access ePHI without having access to any patient information-->
        
    </nav>
</aside>